body {
    margin: 0;
}

.menu: {}


.hero {
    background-image: url(../images/solaimg_hi-diamondhead.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: 30vh;
    justify-content: center;
}

/* .hero {} */