nav {
    background-color:#E6EBE0;
    padding: 15px;
}

body {
    margin:0;
}

.inline_block {
    display: inline;
    padding:15px;
}

.left{
    background-color: #9FB596;
    float: left;
    width:30%;
    height:500px;
    text-align: center;
}
.right{
    float:left;
    background-color: #BBC7CE;
    width:70%;
    height:500px;
    
}






